.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 30%;
}

.text {
 display:"flex";
 justify-content: space-between;
  white-space: nowrap; 
  color: white;
  background-color:rgb(54, 53, 53);
  font-size: 10px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (min-width: 300px)  {
  /* CSS rules here will apply to devices with a screen width between 300px and 750px */
  #closebutton{
    display: none;
    
  }
  #topcontainer{
    width: 50%;
   
  }
  #sectioncontainer{
    align-items: center;
    width: 100%;
  }
  #navDescription{
    display: none;
  }
  #imageavatar{
    width:100%;
    height: 100%;
  }
  #navtext{
    font-size: 20px;
    
  }
  #followbox{
    display: flex;
  }
  #section3{
    width: 100%;
    padding-left: -100;
  }
  #imagebox{
    width: 20%;
  }
  #bottompart{
    width: 50%;
  }
  #hrtag{
    width: 50%;
    text-align: center;
    margin: auto;
  }
}